<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MultiAPI</title>
    <link rel="stylesheet" href="/public/app.css">
  </head>
  <body>
    <section class="wrapper">
      <h1 class="title">Welcome to MultiAPI!</h1>
      <p class="lead">Get information from multiple urls in the time it takes for the slowest to respond.</p>
      <pre>$ curl -H "Content-Type:application/json" --data '{"urls":["http://jsonplaceholder.typicode.com/posts/1", "http://jsonplaceholder.typicode.com/posts/2"]}' <%= url %>
[
  {
    "url": "http://jsonplaceholder.typicode.com/posts/1",
    "response": {
      "userId":1,
      "title":"sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
      "id":1,
      "body":"quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto"
    }
  },
  {
    "url": "http://jsonplaceholder.typicode.com/posts/2",
    "response": {
      "userId":1,
      "title":"qui est esse",
      "id":2,
      "body":"est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
    }
  }
]
      </pre>
    </section>
    <section class="wrapper">
      <h1>Try it out!</h1>
      <div class="row">
        <div>
          <form method="post" action="/">
            <label for="urls[]">Urls</label>
            <div id="url-inputs">
              <input type="text" name="urls[]" class="url">
            </div>
            <button>Try it!</button>
            <a href="#" id="add-url" class="btn">Add another url</a>
          </form>
        </div>
        <div>
        </div>
      </div>
      <div id="result"></div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/app.js"></script>
  </body>
</html>
